<img src="/assets/Imagenes/Estudiante01.jpg" class="img-fluid" alt="Responsive image">

<div class="container titulo">
  <h1>ESTUDIANTES BIT</h1>
</div>

<br>
  <div class="container" style="text-align: center; font-size: large;">
      <p>Bienvenidos al portal de estudiantes de BIT, nuestro instituto de tecnología le brindará a todos los usuarios herramientas claves que facilitan su desarrollo de aprendizaje. Con tu registro, que es rápido y fácil, podrás acceder a las clases en línea, contactar a tus asesores de cada módulo y revisar tus avances y logros.</p>
  </div>

  <br>

  <div class="container">

    <div class="row">

      <div class="col s4">
        <div class="card" style="width: 18rem; ">
          <div class="card-body">
            <h5 class="card-title">Estudia con nosotros</h5>
            <h6 class="card-subtitle mb-2 text-muted">Educación en Tecnología</h6>
            <p class="card-text">Los mejores programas en tecnología. Aprende de los mejores, clases prácticas, en línea y con asesores permanentes.</p>
            <a href="/Registro" class="card-link">Regístrate</a>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Ya soy BIT</h5>
            <h6 class="card-subtitle mb-2 text-muted">Estudiantes</h6>
            <p class="card-text">Somos el presente y futuro, contamos con las herramientas para transformar el mundo y que todos entienda la importancia de la digitalización.</p>
            <a href="/Ingreso" class="card-link">Inicia sesión</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <br>
  <br>

  <blockquote class="blockquote text-center">
    <p class="mb-0">Si tu negocio no está en Internet, tu negocio no existe.</p>
    <footer class="blockquote-footer">Bill Gates <cite title="Source Title"></cite></footer>
  </blockquote>