
 <div class="IconosRedes">

    <div class="ajusteicono">
      <a target="_blank" href="https://twitter.com/explore"><img src="/assets/Imagenes/IconosRedes/icono-twitter.png" width="60px" height="60px" alt="Tw"></a>
    </div>

    <div class="ajusteicono">
      <a target="_blank" href="https://es-la.facebook.com/"><img src="/assets/Imagenes/IconosRedes/icono-facebook.png" width="60px" height="60px" alt="Fb"></a>
    </div>

  </div>

<div class="row footer-page">
    <div class="textFooter container">
        <P> ©COPYRIGHT Julio 2020 / Andrea Rey</P>
      </div>
</div>
